.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section1-index {
  height: 600px;
  top: 80px;
  width: 100%;
  max-width: 1600px;
  background-image: url("./images/background.png");
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apps {
  width: 1200px;
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
